/* Write your code here. */
.bg-container {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.sub-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 35px;
  margin-bottom: 35px;
  max-width: 1140px;
}

.l-image {
  border-radius: 18px;
}

.heading {
  color: #1e293b;
  font-size: 30px;
  font-weight: bold;
}

.des {
  color: #64748b;
  font-size: 15px;
  font-weight: bolder;
}

.list-thumbnail-container {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}
